.bgMustard {
  background: $mustard;
}

.bgYellow {
  background: $yellow;
}
.bgWhite {
  background: $white;
}

.bgDark {
  background: $dark;
}

.bgMint {
  background: $mint;
}
.bgBlue {
  background: $aqua;
}

.bgRed {
  background: $red;
}

