.bgMustard {
  background: $mustard;
}

.bgYellow {
  background: $yellow;
}
.bgWhite {
  background: $white;
}

.bgDark {
  background: $dark;
}

.bgMint {
  background: $mint;
}
.bgBlue {
  background: $aqua;
}

.bgRed {
  background: $red;
}
.bgTrans {
  background: rgba(255, 255, 255, 0.8);
}
.bgNone {
  background: rgba(255, 255, 255, 0);
}
