.btn {
  border-radius: 3px !important;
  text-transform: capitalize;
  padding-left: 2rem !important;
  padding-right: 2rem !important;
  font-size: 1.5rem !important;
}

.btn-success {
  background: $dark;
  border: $dark;
}
.btn-success:hover {
  background: $aqua;
}

.btn-outline {
  color: white;
  border: 1px solid white;
  border-radius: 0.6rem;
  transition-duration: 1s;
}
.btn-outline:hover {
  color: $mint;
  transform: scale(1.05);
}

.btn-danger {
  background: $red;
  border: $red;
}
.btn-danger:hover {
  background: $mustard;
}

.btn-info {
  background: $mint;
  border: $mint;
  color: $dark;
}
.btn-info:hover {
  background: $aqua;
}

.btn-warning {
  background: $yellow;
  border: $yellow;
  color: white;
}
.btn-warning:hover {
  background: $mustard;
  color: white;
}
