.card {
  animation: fade-in linear forwards;
  animation-timeline: view();
  animation-range: entry;
  transition: all 800ms ease-in;
}

@keyframes fade-in {
  from {
    scale: 0.8;
    opacity: 0;
  }
  to {
    scale: 1;
    opacity: 1;
  }
}
