// .landingSVG:hover #rect-light {
//     fill: #ffffff00 !important;
// }
// "M1229 673C1229 676.866 1215.79 680 1199.5 680C1183.21 680 1170 676.866 1170 673C1170 669.134 1183.21 666 1199.5 666C1215.79 666 1229 669.134 1229 673Z"
#rect-light,
#mainRect,
#foot,
title {
    transition: all 1000ms ease-in-out;
}
#switch {
    transition: all 1000ms cubic-bezier(0.18, 0.78, 0.85, 0.5);
    transition-delay: 300ms;
}

#titleVLine,
#titleHLine {
    transition: all 1000ms cubic-bezier(0.18, 0.78, 0.85, 0.5);
    transition-delay: 300ms;
}
#landingSVG {
    transition: all 1000ms ease-in-out;
    width: '1640';
    &:hover {
        #mainRect {
            fill: $mustard;
        }
        #rect-light {
            fill: $white !important;
        }
        #foot {
            d: path(
                'M1279.7 643.589C1281.57 647.989 1282.54 651.297 1282.62 653.512C1282.72 656.206 1282.4 660.154 1281.67 665.356C1278.48 665.47 1249.8 666.501 1195.65 668.447C1193.15 661.288 1194.3 657.333 1199.1 656.583C1203.89 655.833 1207.88 655.168 1211.05 654.588L1250.4 635.691C1251.16 635.328 1252.07 635.634 1252.44 636.375C1252.45 636.388 1252.45 636.401 1252.46 636.414L1255.25 642.428C1259.78 644.306 1263.44 645.194 1266.23 645.094C1268.49 645.013 1271.59 644.004 1275.51 642.069L1275.51 642.069C1277.02 641.326 1278.85 641.92 1279.61 643.395C1279.64 643.458 1279.67 643.523 1279.7 643.589Z'
            ) !important;
        }
        #switch {
            d: path(
                'M1229 673C1229 676.866 1215.79 680 1199.5 680C1183.21 680 1170 676.866 1170 673C1170 669.134 1183.21 666 1199.5 666C1215.79 666 1229 669.134 1229 673Z'
            ) !important;
        }
        #title {
            fill: $dark;
        }
        #titleVLine,
        #titleHLine {
            stroke-width: 2px;
        }
    }
}
