/* Header Child Component: Nav Bar Styling */

.nav {
    height: 50px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.76);
    color: white;
    display: flex;
    align-items: center;
    justify-content:  center;
}

/* styling horizontal page links */
.nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}
.nav li {
   padding: 2px 30px
}

.nav a {
  text-decoration: none;
  padding: 2px 10px;
  border-radius: 5px;
}

/* hover pseudo-classes for hover effects and to show active page*/
.nav a:hover,
.nav a:focus,
.nav a:active {
  text-decoration: none;
  background-color: black;
}