/* Header Title  */
.title {
  padding-top: 50px;
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

/* description of author developer portfolio */
.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

/* Social media links... */
.socialMedia {
  height: 50px;
  padding: 10px;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}

.socialMedia ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

.socialMedia li {
  margin: 0.5rem;
  height: 3rem;
  width: 3rem;
  background-color: #16333F;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.socialMedia a {
  text-decoration: none;
  padding: 2px 10px;
}

/* hover effect... */
.socialMedia li:hover {
  text-decoration: none;
  background-color: #CF8E07;
  /* animation called */
  -webkit-animation-name: bounce;
          animation-name: bounce;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  /*  animation-iteration-count: infinite; */
}

/* Bounce Animation */
@-webkit-keyframes bounce {
  0% {
    -webkit-transform: scale(1, 1) translateY(0);
            transform: scale(1, 1) translateY(0);
  }
  10% {
    -webkit-transform: scale(1.1, 0.9) translateY(0);
            transform: scale(1.1, 0.9) translateY(0);
  }
  30% {
    -webkit-transform: scale(0.9, 1.1) translateY(-6rem);
            transform: scale(0.9, 1.1) translateY(-6rem);
  }
  50% {
    -webkit-transform: scale(1, 1) translateY(0);
            transform: scale(1, 1) translateY(0);
  }
  80% {
    -webkit-transform: scale(1, 1) translateY(0);
            transform: scale(1, 1) translateY(0);
  }
}
@keyframes bounce {
  0% {
    -webkit-transform: scale(1, 1) translateY(0);
            transform: scale(1, 1) translateY(0);
  }
  10% {
    -webkit-transform: scale(1.1, 0.9) translateY(0);
            transform: scale(1.1, 0.9) translateY(0);
  }
  30% {
    -webkit-transform: scale(0.9, 1.1) translateY(-6rem);
            transform: scale(0.9, 1.1) translateY(-6rem);
  }
  50% {
    -webkit-transform: scale(1, 1) translateY(0);
            transform: scale(1, 1) translateY(0);
  }
  80% {
    -webkit-transform: scale(1, 1) translateY(0);
            transform: scale(1, 1) translateY(0);
  }
}

.slide-top {
  -webkit-animation: slide-top 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite alternate-reverse both;
  animation: slide-top 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite alternate-reverse both;
}

.slide-right {
  -webkit-animation: slide-right 3s linear infinite alternate-reverse;
  animation: slide-right 3s linear infinite alternate-reverse;
}

.slide-left {
  -webkit-animation: slide-left 3s cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite alternate-reverse both;
  animation: slide-left 3s cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite alternate-reverse both;
}

/* =======================================Animations=============================================== */
/* ----------------------------------------------
 * Generated by Animista on 2021-7-16 16:31:5
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation slide-top
 * ----------------------------------------
 */
@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
  }
}

@keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2021-7-19 11:3:42
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation slide-right
 * ----------------------------------------
 */
@-webkit-keyframes slide-right {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
  }
}

@keyframes slide-right {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2021-7-19 11:36:38
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation slide-left
 * ----------------------------------------
 */
@-webkit-keyframes slide-left {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-50px);
    transform: translateX(-50px);
  }
}

@keyframes slide-left {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
  }
}

.btn-success {
  background: #16333F;
  border: #16333F;
}

.btn-success:hover {
  background: #4CAABC;
}

.btn-danger {
  background: #c81e2a;
  border: #c81e2a;
}

.btn-danger:hover {
  background: #CF8E07;
}

.btn-info {
  background: #6EC7AA;
  border: #6EC7AA;
  color: #16333F;
}

.btn-info:hover {
  background: #4CAABC;
}

.btn-warning {
  background: #FDC128;
  border: #FDC128;
  color: white;
}

.btn-warning:hover {
  background: #CF8E07;
  color: white;
}

.textDark {
  color: #16333F;
}

.bgMustard {
  background: #CF8E07;
}

.bgYellow {
  background: #FDC128;
}

.bgDark {
  background: #16333F;
}

.bgMint {
  background: #6EC7AA;
}

.bgRed {
  background: #c81e2a;
}

.lds-hourglass {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-hourglass:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 8px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 32px solid #4CAABC;
  border-color: #4CAABC transparent #CF8E07 transparent;
  -webkit-animation: lds-hourglass 1.2s infinite;
          animation: lds-hourglass 1.2s infinite;
}

@-webkit-keyframes lds-hourglass {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
    -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
            animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    -webkit-transform: rotate(900deg);
            transform: rotate(900deg);
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    -webkit-transform: rotate(1800deg);
            transform: rotate(1800deg);
  }
}

@keyframes lds-hourglass {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
    -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
            animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    -webkit-transform: rotate(900deg);
            transform: rotate(900deg);
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    -webkit-transform: rotate(1800deg);
            transform: rotate(1800deg);
  }
}

.middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card {
  border-radius: 0;
  border: none;
}

a {
  cursor: pointer;
}

a:hover {
  color: #16333F;
}

.opaqueBorder {
  border: 1px solid #4ca9bc56;
}

.opaque {
  background: #4ca9bc28;
}

.landing {
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
  height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navbar {
  background: #4CAABC;
  color: #16333F;
}

.active {
  border-left: 1px solid white;
}

.prime {
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  cursor: pointer;
}

.prime:hover {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.prime:hover .card {
  background: #4CAABC !important;
}
/*# sourceMappingURL=styles.css.map */