@mixin fixedBg {
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@import './_variables.scss';
@import './_footer.scss';
@import './_projects.scss';
@import './_animate.scss';
@import './_buttons.scss';
@import './_text.scss';
@import './_bgs.scss';
@import './_loading.scss';
@import './_landingSvg.scss';


.card {
    border-radius: 0;
    border: none;
}

a {
    cursor: pointer;
}

ul {
    list-style: none;
}

a:hover {
    color: $dark;
}

.opaqueBorder {
    border: 1px solid #4ca9bc56;
}
.opaque {
    background: #4ca9bc28;
}

.landing {
    @include fixedBg();
}

.navbar {
    background: $aqua;

}

.active {
    border-left: 1px solid $white;
    padding-left: 2px;
    color:$dark
}
.nav-link {
    color: $white
}
.pointer {
    cursor: pointer;
}

.imgLink {
    cursor: pointer;
    transition: transform 0.5s ease-in-out 0.05s;
}

.imgLink:hover {
    transform: scale(1.1);
}

.hero {
    height: 80vh;
}

.shadowMain {
    box-shadow: 8px 8px 16px #081418;
}

/*==================================Widths============================*/
.w100{
    width: 100%
}
.maxWidth{
    max-width: 2600px;
}
/*==================================Heights============================*/
.h100 {
    height: 100% 
}
.h7rem {
    min-height: 7rem !important;
}
.vh100 {
    height: 100vh;
}

.vh80 {
    height: 100vh;
}
.vh20 {
    height: 20vh;
}

.scrollSection {
    height: 90vh;
    overflow-y: scroll;
}
/*==================================Widths============================*/
.w-5 {
    width: 5% !important;
}

.maxWidthTxt {
    max-width: 50rem !important;
}
/*==================================Scroll Bar============================*/
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: $dark;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: $yellow;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: $aqua;
}

/*==================================Border Colours============================*/
.borderWhite {
    border: 1px solid #fff;
    border-radius: 0.625rem;
}

.borderLgRadius {
    /* border: 1px solid #fff; */
    border-radius: 1.25rem;
}

.borderLgRadiusTop {
    /* border: 1px solid #fff; */
    border-radius: 1.25rem 1.25rem 0 0;
}

/*===========================Responsive Padding============================*/
.px7rem {
    padding-left: 7rem !important;
    padding-right: 7rem !important;
}
.px14rem {
    padding-left: 14rem !important;
    padding-right: 14rem !important;
}
//=====================Responsive=========================
/*====================Small Phones==================*/
@media screen and (max-width: 768px) {
    .px7rem,
    .px14rem {
        padding-left: 0rem !important;
        padding-right: 0rem !important;
    }
    .smHide{
        display: none;
    }
}
/*=======================================align====================================*/
.flex {
    display: flex;
}
.middle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.overlay-bottom {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding-bottom: 4rem;
}

.middle-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.middle-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}



div, img {
    transition: all 800ms ease-in-out ;
  }


  .profilePic {
    margin-top: 30px;
    border-radius: 50%;
    height: 15rem;
    width: 15rem;
    background-color: #c81e2a;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .profilePic {
      margin-top: 30px;
      border-radius: 50%;
      height: 100px;
      width: 100px;

      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }